body {
  background: purple;
}

.test {
  margin: 100px auto;
  width: 420px;
  padding: 40px;
  background: yellow;
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  border: 8px solid red;
}
